<div id="top" class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-panel panel panel-default">
                <h1 style="text-align:center;">
                    <h1 style="text-align:center; color:cadetblue">
                        <strong>Hussain Motors</strong>
                    </h1>
                </h1>
                <div class="panel-heading">
                    <div class="panel-title">
                        <strong>Add New Account</strong>
                    </div>
                </div>
                <div class="panel-body" id="bodylogin">
                    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">

                        <!--number-->
                        <div class="form-group row" [ngClass]="{'has-error': (!name.valid && number.touched), 'has-success': (number.valid && number.touched)}">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span>
                                <input [formControl]="number" type="text" class="form-control" placeholder="Enter Account No.">
                            </div>
                            <span *ngIf="!number.valid && number.touched && number.value.length < 2" class="help-block sub-little-text">Minimum 2 characters required</span>
                        </div>

                        <!--name-->
                        <div class="form-group row" [ngClass]="{'has-error': (!name.valid && name.touched), 'has-success': (name.valid && name.touched)}">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span>
                                <input [formControl]="name" type="text" class="form-control" id="inputPassword3" placeholder=" Enter First Name">
                            </div>
                            <span *ngIf="!name.valid && name.touched && name.value.length < 4 " class="help-block sub-little-text">Minimum 4 characters required</span>
                        </div>


                        <!--mobileNumber-->
                        <div class="form-group row" [ngClass]="{'has-error': (!mobileNumber.valid && mobileNumber.touched), 'has-success': (mobileNumber.valid && mobileNumber.touched)}">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-phone"></i>
                                </span>
                                <input required [formControl]="mobileNumber" type="text" class="form-control" placeholder=" Enter Mobile Number">
                            </div>
                            <span *ngIf="!mobileNumber.valid && mobileNumber.touched " class="help-block sub-little-text">Enter a valid Mobile Number</span>
                        </div>

                        <!--cnic-->
                        <div class="form-group row" [ngClass]="{'has-error': (!cnic.valid && cnic.touched), 'has-success': (cnic.valid && cnic.touched)}">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-credit-card"></i>
                                </span>
                                <input required [formControl]="cnic" type="text" class="form-control" placeholder=" Enter CNIC">
                            </div>
                            <span *ngIf="!cnic.valid && cnic.touched " class="help-block sub-little-text">Enter a valid CNIC</span>
                        </div>
                        <!-- cnic -->

                        <!--address-->
                        <div class="form-group row" [ngClass]="{'has-error': (!address.valid && address.touched), 'has-success': (address.valid && address.touched)}">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-home"></i>
                                </span>
                                <textarea rows="5" cols="40" [formControl]="address" class="form-control" placeholder="Address gose here....."></textarea>
                            </div>
                            <span *ngIf="!address.valid && address.touched " class="help-block sub-little-text">Enter a valid Address</span>
                        </div>
                        <!-- address -->

                        <!--amount-->
                        <div class="form-group row" [ngClass]="{'has-error': (!amount.valid && amount.touched), 'has-success': (amount.valid && amount.touched)}">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-usd"></i>
                                </span>
                                <input required [formControl]="amount" type="text" class="form-control" id="inputPassword3" placeholder=" Enter Amount">
                            </div>
                            <span *ngIf="!amount.valid && amount.touched " class="help-block sub-little-text">Enter a valid Amount</span>
                        </div>
                        <!-- Amount -->



                        <div class=" row">
                            <button (click)="form.reset" [disabled]="!form.valid" type="submit" class="btn btn-primary  btn-auth pull-right">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                <i [ngClass]="{'fa fa-spinner fa-spin': changeClass}"></i>
                                Add</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>