<div id="top" class="container">
  <!--modal starts-->
  <!-- <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-sm">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title pull-left modal-primary">Alert</h4>
                      <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
            <span aria-hidden="true">&nbsp;&nbsp;&times;&nbsp;&nbsp;</span>
          </button>
                  </div>
                  <div class="modal-body">
                      {{myMessage}}
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" (click)="staticModal.hide()">Close</button>
                  </div>
              </div>
          </div>
      </div> -->

  <div class="row">
      <div class="col-md-6 col-md-offset-3">
          <div class="login-panel panel panel-default">
              <h1 style="text-align:center;">
                  <h1 style="text-align:center; color:cadetblue">
                      <strong>Hussain Motors</strong>
                  </h1>
              </h1>
              <div class="panel-heading">
                  <div class="panel-title">
                      <strong>Register</strong>
                  </div>
              </div>
              <div class="panel-body" id="bodylogin">

                  <!-- myMessage -->
                  <div *ngIf="triggerk" class="alert alert-danger alert-dismissable">
                      <!-- <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> -->
                      <i class="fa fa-comment fa-fw"></i>
                      <strong>{{myMessage}}</strong>
                  </div>

                  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
                      <!--first name-->
                      <div class="form-group row" [ngClass]="{'has-error': (!name.valid && name.touched), 'has-success': (name.valid && name.touched)}">

                          <div class="col-sm-12">
                              <div class="input-group">
                                  <span class="input-group-addon">
                                      <i class="glyphicon glyphicon-user"></i>
                                  </span>
                                  <input [formControl]="name" type="text" class="form-control" id="inputPassword3" placeholder=" Enter First Name">
                              </div>
                              <span *ngIf="!name.valid && name.touched && name.value.length < 4 " class="help-block sub-little-text">Minimum 4 characters required</span>
                          </div>
                      </div>
               
                    
                      <!--contact-->
                      <div class="form-group row" [ngClass]="{'has-error': (!contact.valid && contact.touched), 'has-success': (contact.valid && contact.touched)}">

                          <div class="col-sm-12">
                              <div class="input-group">
                                  <span class="input-group-addon">
                                      <i class="glyphicon glyphicon-phone"></i>
                                  </span>
                                  <input required [formControl]="contact" type="text" class="form-control" id="inputPassword3" placeholder=" Enter Contact Number">
                              </div>
                              <span *ngIf="!contact.valid && contact.touched " class="help-block sub-little-text">Enter a valid Contact</span>

                          </div>
                      </div>
                      <!-- contact -->
                      <!--cnic-->
                      <div class="form-group row" [ngClass]="{'has-error': (!cnic.valid && cnic.touched), 'has-success': (cnic.valid && cnic.touched)}">

                          <div class="col-sm-12">
                              <div class="input-group">
                                  <span class="input-group-addon">
                                      <i class="glyphicon glyphicon-credit-card"></i>
                                  </span>
                                  <input required [formControl]="cnic" type="text" class="form-control" id="inputPassword3" placeholder=" Enter Cnic">
                              </div>
                              <span *ngIf="!cnic.valid && cnic.touched " class="help-block sub-little-text">Enter a valid Cnic</span>

                          </div>
                      </div>
                      <!-- cnic -->

                      <!--address-->
                      <div class="form-group row" [ngClass]="{'has-error': (!address.valid && address.touched), 'has-success': (address.valid && address.touched)}">

                          <div class="col-sm-12">
                              <div class="input-group">
                                  <span class="input-group-addon">
                                      <i class="glyphicon glyphicon-home"></i>
                                  </span>
                                  <textarea rows="5" cols="40" [formControl]="address" class="form-control" placeholder="Address gose here....."></textarea>
                              </div>
                              <span *ngIf="!address.valid && address.touched " class="help-block sub-little-text">Enter a valid Address</span>

                          </div>
                      </div>
                      <!-- address -->

                      <!--amount-->
                      <div class="form-group row" [ngClass]="{'has-error': (!amount.valid && amount.touched), 'has-success': (amount.valid && amount.touched)}">

                          <div class="col-sm-12">
                              <div class="input-group">
                                  <span class="input-group-addon">
                                      <i class="glyphicon glyphicon-usd"></i>
                                  </span>
                                  <input required [formControl]="amount" type="text" class="form-control" id="inputPassword3" placeholder=" Enter Amount">
                              </div>
                              <span *ngIf="!amount.valid && amount.touched " class="help-block sub-little-text">Enter a valid Amount</span>

                          </div>
                      </div>
                      <!-- Amount -->



                      <div class=" row">
                          <div class="col-sm-12">
                              <button (click)="form.reset" [disabled]="!form.valid" type="submit" class="btn btn-primary  btn-auth pull-right">
                                  <i class="fa fa-user-plus" aria-hidden="true"></i>
                                  <i [ngClass]="{'fa fa-spinner fa-spin': changeClass}"></i>
                                  Register</button>
                          </div>




                      </div>
                  </form>

              </div>
          </div>
      </div>
  </div>
</div>
