<div class="container-fluid">


  <div class="row">

    <div class="col-md-3">
      <h3>Car Sale Case 1 & 2 &nbsp; /&nbsp; کار فروخت</h3>

    </div>
    <div class="col-md-3 col-md-offset-6 mt-15">
      <button class="btn btn-primary pull-right" routerLink="add" *ngIf="router.url=='/dashboard/carExchange' || router.url=='/dashboard/carExchange/list'"
        style="font-size:15px">
        <i class="fa fa-car"></i> Add new exchange deal</button>
      <button class="btn btn-primary pull-right" routerLink="list" *ngIf="router.url=='/dashboard/carExchange/add'" style="font-size:15px ">
        <i class="fa fa-car "></i>Show All exchange deals</button>

    </div>

    
  </div>
  <hr>

  <router-outlet></router-outlet>
</div>