
  <div class="row">
    <div class="col-md-12">
     
          <form [formGroup]="form" (ngSubmit)="onSubmitExpense(form.value)" class="form-horizontal">

            <!--userAccount -->
            <div class="form-group row" [ngClass]="{'has-error': (!userAccount.valid && userAccount.touched), 'has-success': (userAccount.valid && userAccount.touched)}">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-map-marker"></i>
                  </span>

                  <select [formControl]="userAccount" class="form-control" id="sel1">
                    <option value="">--Select User Account--</option>
                    <option value="{{u.Id}}" *ngFor="let u of allAccounts">{{u.Number}}--{{u.Name}}</option>
                  </select>
                </div>
                <span *ngIf="!userAccount.valid && userAccount.touched && userAccount.value.length < 4 " class="help-block sub-little-text">userAccount is required"></span>
            </div>
            <!--userAccount -->

            <!--amount-->
            <div class="form-group row" [ngClass]="{'has-error': (!loanAmount.valid && loanAmount.touched), 'has-success': (loanAmount.valid && loanAmount.touched)}">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-usd"></i>
                  </span>
                  <input required [formControl]="loanAmount" type="text" class="form-control" id="inputPassword3" placeholder=" Enter Amount">
                </div>
                <span *ngIf="!loanAmount.valid && loanAmount.touched " class="help-block sub-little-text">Enter a valid Amount</span>
            </div>
            <!-- Amount -->
            <!--description-->
            <div class="form-group row" [ngClass]="{'has-error': (!description.valid && description.touched), 'has-success': (description.valid && description.touched)}">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                  <textarea rows="5" cols="40" [formControl]="description" class="form-control" placeholder="description gose here....."></textarea>
                </div>
                <span *ngIf="!description.valid && description.touched " class="help-block sub-little-text">Description must be at least 10 characters</span>
            </div>
            <!-- description -->

            <div class=" row">
              <button (click)="form.reset" [disabled]="!form.valid" type="submit" class="btn btn-primary  btn-auth pull-right">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                <i [ngClass]="{'fa fa-spinner fa-spin': changeClass}"></i>
                Add</button>
            </div>

          </form>

       
     
    </div>
  </div>
