<div class="row">
  <div class="col-md-12 col-sm-12">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Sr#</th>
      <th>Date</th>
      <th>Account #</th>
      <th>Account Holder</th>
      <!-- <th>Email</th> -->
      <th>Cnic</th>
      <th>Contact</th>
      <th>Address</th>
      <th>Balance</th>
      
      <!-- <th>Actions</th> -->
    </tr>
  </thead>
  <!-- <div *ngIf="userData.length>0" > -->
 
  <tbody>
    


        <tr *ngFor="let u of allAccounts; let i=index">
        <td>{{i+1}}</td>
        <td>{{date | date:'shortDate'}}</td>
        <td>{{u.Number}}</td>
        <td>{{u.Name}}</td> 
        <!-- <td>{{u.Email}}</td> -->
     
      <td>{{u.CNIC}}</td>
        <td>{{u.MobileNumber}}</td>
        <td>{{u.Address}}</td>
        <td>{{u.Balance |number}}</td>
       
        <!-- <td><a style="font-size:15px"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td> -->
      </tr>

  </tbody>
<!-- </div> -->
</table>
  
  

</div>
</div>
