<div class="container-fluid">

  

  <div class="row">

    <div class="col-md-4">
      <h3>Car Inventory &nbsp; /&nbsp; کار اندراج</h3>
    </div>


    <div class="col-md-2 col-md-offset-6 mt-15">
      <button  routerLink="add" *ngIf="router.url=='/dashboard/carStock/list' && currentUser.role=='admin || currentUser.role=='write" class="btn btn-primary pull-right" style="font-size:15px">Add
        Car
      </button>
      <button routerLink="list" *ngIf="router.url=='/dashboard/carStock/add'" class="btn btn-primary pull-right" style="font-size:15px">Show
        All Cars</button>
    </div>
  </div>

  <hr>
  <router-outlet></router-outlet>

</div>