<style>
  .text-green {
    color: green
  }

  .text-red {
    color: red;
  }

  .text-bold {
    font-size: 15px;
    font-weight: bolder
  }

  .text-normal {
    font-size: 14px;
    font-weight: normal
  }

  h5 {
    color: rgb(40, 116, 216);
    /* font-family:fantasy; */
    font-size: 15px
  }
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!-- warning message -->
      <div *ngIf="message.length > 0" class="alert alert-warning alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="setAlertOff()">&times;</a>
        <i class="fa fa-warning fa-fw"></i>
        <strong>{{message}}</strong>

      </div>


    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <form #myForm="ngForm" novalidate>
        <my-date-picker (ngModelChange)="getTransactionbyDate($event)" name="mydate" [options]="myDatePickerOptions"
          #mydate="ngModel" [(ngModel)]="model" required></my-date-picker>
      </form>
    </div>


  </div>
  <div class="row">

    <div class="col-md-3">
      <h3>Accounts &nbsp; /&nbsp; کھاتہ لسٹ</h3>
    </div>
    <div class="col-md-1">
      <i style="color:orange" [ngClass]="{'fa fa-refresh fa-spin fa-2x':loading}"></i>
    </div>

    <div class="col-md-7 col-md-offset-1 mt-15 " *ngIf="currentUser.role=='admin' || currentUser.role=='write'">
      <button class="btn btn-primary pull-right" style="font-size:15px;margin-left:5px">
        <i class="fa fa-refresh" (click)="getAllAccounts()"></i>
      </button>
      <button class="btn btn-primary pull-right" style="font-size:15px;margin-left:5px" (click)="openModalExpense(templateExpense)">Expense
        &nbsp;/&nbsp; اندراج اخراجات </button>

      <button class="btn btn-primary pull-right" style="font-size:15px" (click)="openModalIncome(templateIncome)">Income
        &nbsp;/&nbsp; اندراج آمدن</button>


    </div>
  </div>

  <hr>
  <div class="row">


    <div class="col-md-4 col-md-offset-8">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-search"></i>
          </div>
          <input class="form-control" type="text" name="search" [(ngModel)]="filter">
        </div>
      </div>

    </div>


    <div class="row">
      <div class="col-md-12 col-sm-12" style="margin-top:-60px">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#home">All Accounts</a></li>
          <li style="color:green"><a data-toggle="tab" href="#menu1">({{totalIncome | number}}) Cradit Accounts / جمع
              کھاتہ</a></li>
          <li style="color:red"><a data-toggle="tab" href="#menu2"> ({{totalExpense |number}}) Debit Accounts / بنام
              کھاتہ </a></li>
          <li style="color:red"><a data-toggle="tab" href="#menu3"> ({{totalIncome+totalExpense |number}}) Remaining
              balance
              نقد کیش </a></li>
        </ul>

        <div class="tab-content">

          <div id="menu3" class="tab-pane fade">

          </div>
          <div id="home" class="tab-pane fade in active">
            <table class="table table-striped table-sm ">
              <thead style="background: lightblue">
                <tr>
                  <th>Sr.#</th>
                  <th>Ac. #</th>
                  <th>Name</th>
                  <th>Contact</th>
                  <th>Cnic</th>
                  <th>Image</th>
                  <th>Balance</th>
                  <th></th>
                  <th *ngIf="currentUser.role=='admin || currentUser.role=='write"></th>

                </tr>
              </thead>
              <tbody *ngIf="allAccounts.length >0">
                <tr *ngFor="let account of allAccounts | filter:filter  ; let i=index">
                  <td>{{i+1}}</td>
                  <td>{{account.Number}}</td>
                  <td>{{account.Name}}</td>
                  <td>{{account.MobileNumber}}</td>
                  <td>{{account.CNIC}}
                  <i style="margin-left:10px;cursor: pointer;" class="fa fa-address-card" title="{{account.Address}}"></i>

                  </td>

                  <td>
                    <img src="http://{{ip}}:{{port}}/{{account.Image}} " width="40" height="40" alt="" style="border-radius: 50%;">
                  </td>
                  <!-- <td>{{account.CNIC}}</td> -->
                  <!-- <td>{{account.Address}}</td> -->

                  <td [ngClass]="account.Balance>=0 ? 'text-green': 'text-red'">{{account.Balance |number}}</td>


                  <!--  <td><button class="btn btn-danger btn-sm">
          <i class="fa fa-trash"></i>
        </button>
      </td> -->
                  <td>
                    <a href="#" class="pull-right" data-toggle="modal" (click)="getTransactionsByAccountId(account.Id)"
                      data-target="#TransactionModal" style="font-size:15px; font-weight:bolder; text-decoration: none;height:100%;width:100%">
                      History/
                      <b>تفصیل</b>
                    </a>
                  </td>
                  <td *ngIf="currentUser.role=='admin || currentUser.role=='write">
                    <button class="btn btn-warning btn-sm" (click)="setEditUser(account)" data-target="#editAccount"
                      data-toggle="modal">
                      <i class="fa fa-pencil"></i>
                    </button>
                  </td>
                  <!-- <a href="http://{{ip}}:{{port}}/api/account/DownloadLogPDF/{{account.Id}}" class="pull-right btn btn-info btn-sm"
        style="margin-top:7px;font-size:12px; font-weight:bolder; text-decoration: none;height:100%;width:100%">
        Print</a> -->
                </tr>
              </tbody>

              <tbody *ngIf="allAccounts.length == 0">
                <p style="color:red;text-align: center;font-size: 30px">No data available</p>

              </tbody>


            </table>


          </div>
          <div id="menu1" class="tab-pane fade">
            <table class="table table-striped table-sm ">
              <thead style="background: lightblue">
                <tr>
                  <th>Sr.#</th>
                  <th>Ac. #</th>
                  <th>Name</th>
                  <th>Contact</th>
                  <th>Image</th>

                  <th>Balance</th>
                  <th>

                  </th>

                </tr>
              </thead>
              <tbody *ngIf="craditAccouts.length >0">
                <tr *ngFor="let account of craditAccouts  | filter:filter  ; let i=index">
                  <td>{{i+1}}</td>
                  <td>{{account.Number}}</td>
                  <td>{{account.Name}}</td>
                  <td>{{account.MobileNumber}}</td>

                  <td>
                    <img src="http://{{ip}}:{{port}}/{{account.Image}} " width="40" height="40" alt="" style="border-radius: 50%;">
                  </td>
                  <!-- <td>{{account.CNIC}}</td> -->
                  <!-- <td>{{account.Address}}</td> -->

                  <td [ngClass]="account.Balance>=0 ? 'text-green': 'text-red'">{{account.Balance |number}}</td>
                  <!-- <td>
        <button class="btn btn-warning btn-sm" data-target="#editAccount" data-toggle="modal">
          <i class="fa fa-pencil"></i>
        </button>
        <button class="btn btn-danger btn-sm">
          <i class="fa fa-trash"></i>
        </button>
      </td> -->
                  <td>
                    <a href="#" class="pull-right" data-toggle="modal" (click)="getTransactionsByAccountId(account.Id)"
                      data-target="#TransactionModal" style="font-size:15px; font-weight:bolder; text-decoration: none;height:100%;width:100%">
                      History/
                      <b>تفصیل</b>
                    </a>

                  </td>
                  <!-- <a href="http://{{ip}}:{{port}}/api/account/DownloadLogPDF/{{account.Id}}" class="pull-right btn btn-info btn-sm"
        style="margin-top:7px;font-size:12px; font-weight:bolder; text-decoration: none;height:100%;width:100%">
        Print</a> -->
                </tr>
              </tbody>

              <tbody *ngIf="allAccounts.length == 0">
                <p style="color:red;text-align: center;font-size: 30px">No data available</p>

              </tbody>


            </table>


          </div>
          <div id="menu2" class="tab-pane fade">
            <table class="table table-striped table-sm ">
              <thead style="background: lightblue">
                <tr>
                  <th>Sr.#</th>
                  <th>Ac. #</th>
                  <th>Name</th>
                  <th>Contact</th>
                  <th>Image</th>

                  <th>Balance</th>
                  <th>
                  </th>

                </tr>
              </thead>
              <tbody *ngIf="debitAccounts.length >0">
                <tr *ngFor="let account of debitAccounts   | filter:filter  ; let i=index">
                  <td>{{i+1}}</td>
                  <td>{{account.Number}}</td>
                  <td>{{account.Name}}</td>
                  <td>{{account.MobileNumber}}</td>

                  <td>
                    <img src="http://{{ip}}:{{port}}/{{account.Image}} " width="40" height="40" alt="" style="border-radius: 50%;">
                  </td>
                  <!-- <td>{{account.CNIC}}</td> -->
                  <!-- <td>{{account.Address}}</td> -->

                  <td [ngClass]="account.Balance>=0 ? 'text-green': 'text-red'">{{account.Balance |number}}</td>
                  <!-- <td>
                    <button class="btn btn-warning btn-sm" data-target="#editAccount" data-toggle="modal">
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-danger btn-sm">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td> -->
                  <td>
                    <a href="#" class="pull-right" data-toggle="modal" (click)="getTransactionsByAccountId(account.Id)"
                      data-target="#TransactionModal" style="font-size:15px; font-weight:bolder; text-decoration: none;height:100%;width:100%">
                      History/
                      <b>تفصیل</b>
                    </a>

                  </td>
                  <!-- <a href="http://{{ip}}:{{port}}/api/account/DownloadLogPDF/{{account.Id}}" class="pull-right btn btn-info btn-sm"
                    style="margin-top:7px;font-size:12px; font-weight:bolder; text-decoration: none;height:100%;width:100%">
                    Print</a> -->
                </tr>
              </tbody>

              <tbody *ngIf="allAccounts.length == 0">
                <p style="color:red;text-align: center;font-size: 30px">No data available</p>

              </tbody>


            </table>


          </div>
        </div>
      </div>
    </div>

    <ng-template #templateExpense>
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          Expense&nbsp;/&nbsp;
          <b>اندراج اخراجات</b>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefExpense.hide()">
          <span aria-hidden="true" style="display: inline-block; padding: 0 5px">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-expense></app-expense>
      </div>
    </ng-template>

    <ng-template #templateIncome>
      <div class="modal-header">
        <h4 class="modal-title pull-left" style="font-size:25px">
          Income&nbsp;/&nbsp;
          <b>اندراج آمدن</b>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefIncome.hide()">
          <span aria-hidden="true" style="display: inline-block; padding: 0 5px">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-income></app-income>
      </div>
    </ng-template>

    <!--history Modal -->
    <div class="modal fade" id="TransactionModal" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" style="display: inline-block; padding: 0 5px">&times;</button>
            <h4 class="modal-title">
              History Log&nbsp;/&nbsp;
              <b>تفصیل کھاتہ</b>
            </h4>
            <button routerLink="/printHistory" class="btn btn-primary" data-dismiss="modal" target="_blank">Print</button>

          </div>
          <div class="modal-body">
            <ng-template #no_data_templ>
              No data found...
            </ng-template>
            <div *ngIf="singleUser" class="row">

              <div class="col-md-8">
                <h5>Account number:&nbsp;&nbsp; {{singleUser.Number}}</h5>
                <h5>Name:&nbsp;&nbsp; {{singleUser.Name}}</h5>
                <h5>Contact:&nbsp;&nbsp; {{singleUser.MobileNumber}}</h5>
                <h5>Address:&nbsp;&nbsp; {{singleUser.Address}}</h5>
                <h5>Balance:&nbsp;&nbsp; {{singleUser.Balance |number}}</h5>

                <input type="text" name="search" [(ngModel)]="searchHistory" class="form-control" placeholder="search here">


              </div>
              <div class="col-md-4">
                <img src="http://{{ip}}:{{port}}/{{singleUser.Image}}" width="150" height="150" alt="">
                <!-- (click)="openInNewTab()" -->
                <!--  -->
              </div>



            </div>

            <table class="table table-striped " *ngIf="selectedAccountTransactions?.length;else no_data_templ">


              <thead>
                <tr>
                  <th>Sr#</th>
                  <th>Date</th>
                  <th>Description</th>
                  <th>Income آمدن</th>
                  <th>Expense خرچ</th>
                  <th>Balance رقم</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let u of selectedAccountTransactions |filter:searchHistory;let i=index; let last=last">
                  <td>{{i+1}}</td>
                  <td style="width:160px">{{u.Date | date :'dd/MM/yyyy hh:mm a'}}</td>
                  <td style="word-break: break-all">{{u.Description}}</td>
                  <td *ngIf="u.Amount>0;else income" style="color:green">{{u.Amount |number}}</td>
                  <ng-template #income>
                    <td style="color:red;font-style:bold"></td>
                  </ng-template>
                  <td *ngIf="u.Amount<0;else expense" style="color:red">{{u.Amount |number}}</td>
                  <ng-template #expense>
                    <td style="color:green;font-style:bold"></td>
                  </ng-template>
                  <td [ngClass]="last ? 'text-bold': 'text-normal'">{{ getRowTotalUsingIndex(i) }}</td>
                </tr>

              </tbody>

            </table>


          </div>

        </div>

      </div>
    </div>
    <!-- history Modal end -->
    <!--edit Account -->
    <div class="modal fade" id="editAccount" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" style="display: inline-block; padding: 0 5px">&times;</button>
            <h4 class="modal-title">
              Edit User Account
              <!-- <b>تفصیل کھاتہ</b> -->
            </h4>
          </div>
          <div class="modal-body">
              <form name="form" (ngSubmit)="f.form.valid && submitEditform(f.form.value)" #f="ngForm" novalidate>
                  <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" name="name" [(ngModel)]="model2.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required />
                      <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                          <div *ngIf="name.errors.required">Name is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="mobileNumber">Mobile Number</label>
                      <input type="text" class="form-control" name="mobileNumber" [(ngModel)]="model2.mobileNumber" #mobileNumber="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required />
                      <div *ngIf="f.submitted && mobileNumber.invalid" class="invalid-feedback">
                          <div *ngIf="mobileNumber.errors.required">Mobile Number is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="oldImage">Current Image</label>
                    <img src="http://{{ip}}:{{port}}/{{model2.avatar}}" width="100" height="100" class="img-thumbnail" alt="">
                  </div>

                  <div class="form-group">
                      <input type="file" id="avatar"  (change)="onFileChange($event)" placeholder="Upload file">
                  </div>

                  <div class="row">
                      <button type="submit" class="btn btn-primary pull-right btn-sm" (click)="form.reset" [disabled]="!f.valid">&nbsp;Update&nbsp;</button>
                    </div>
              </form>
          </div>
          <!-- <div class="modal-footer">
      
            </div> -->

        </div>

      </div>
    </div>
    <!-- edit Account end -->
  </div>
</div>