<div class="row">
  <div class="col-md-12">
    <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#ExpenseModal"><b>اندراج خرچ</b></button>
    &nbsp;&nbsp;
    <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#IncomeModal"><b>اندراج آمدن</b></button>
    &nbsp;&nbsp;
    <!-- <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addAccountModal"><b>کھاتہ اندراج</b></button> -->
 
    &nbsp;&nbsp;
   </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Sr #</th>
          <th>Account #</th>
          <th>Name</th>
          <th>Contact</th>
          <th>CNIC</th>
          <th>Balance</th>
          <th>Address</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of allAccounts; let i=index">
          <td>{{i+1}}</td>
          <td>{{u.Number}}</td>
          <td>{{u.Name}}</td>
          <td>{{u.MobileNumber}}</td>
          <td>{{u.CNIC}}</td>
          <td>{{u.Balance |number}}</td>
          <td>{{u.Address}}</td>
    <button class="btn btn-primary pull-right" data-toggle="modal" (click)="getLogById(u.Id)" data-target="#HistoryModal"><b>تفصیل کھاتہ</b></button>
    <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<!-- Add Account Modal -->
<div class="modal fade" id="addAccountModal" #addAccountModal role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><b>کھاتہ اندراج</b></h4>
      </div>
      <div class="modal-body">

        <app-add-account></app-add-account>

      </div>
      
    </div>

  </div>
</div>
<!-- add account Modal end -->
<!-- expnese Modal -->
<div class="modal fade" id="ExpenseModal"  role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><b>اندراج خرچ</b></h4>
      </div>
      <div class="modal-body">

        <app-expense></app-expense>

      </div>
      
    </div>

  </div>
</div>
<!-- expense Modal end -->
<!--income Modal -->
<div class="modal fade" id="IncomeModal"  role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><b>اندراج آمدن</b></h4>
      </div>
      <div class="modal-body">

        <app-income></app-income>

      </div>
      
    </div>

  </div>
</div>
<!-- income Modal end -->
<!--history Modal -->
<div class="modal fade" id="HistoryModal"  role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><b>تفصیل کھاتہ</b></h4>
      </div>
      <div class="modal-body">

      <!-- history log -->
      
        <div  *ngIf="singleUser!=null">
            <h2>Account Details</h2>
          <div class="col-md-6">
              
              Name:{{singleUser.Name}}<br>
              CNIC:{{singleUser.CNIC}} <br>
              Contact:{{singleUser.MobileNumber}} <br>
              Address:{{singleUser.Address}} <br>

          </div>
          <div class="col-md-6">
              <button class="btn btn-success"> Balance : {{singleUser.Balance}}</button>
              <button class="btn btn-primary" (click)="print()">print</button>
          </div>
          
          
          
        </div>
    
  
      <div id="print-section">
         
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Sr#</th>
                    <th>Date</th>
                   
                    <th>Amount</th>
                    <!-- <th>Income</th> -->
                    <th>Description</th>
                    
                 
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let u of transaction;let i=index"  >
      
                       <td *ngIf="u.Account!=null ">{{i+1}}</td>
                       <td *ngIf="u.Account!=null ">{{u.Date}}</td>
                       <td *ngIf="u.Account!=null && u.Amount<0" style="color:red;font-style:bold">{{u.Amount}}</td>
                        <td *ngIf="u.Account!=null  && u.Amount>0">{{u.Amount |number}}</td>
                       <td *ngIf="u.Account!=null ">{{u.Description}}</td>
                       
                      <!-- <td *ngIf="u.Account!=null  " >{{u.Amount |number}}</td> -->
                     
                      <!-- <td *ngIf="u.Account!=null && u.Amount<0">
                          <a style="font-size:15px" data-toggle="modal" data-target="#IncomeModal"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                        <a style="font-size:15px" (click)="deleteIncome(u.id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                      </td> -->
                        
                      </tr>
                      <tr>
                        <td></td>
                        <td *ngIf="singleUser!=null ">Total</td>
                        <td *ngIf="singleUser!=null ">{{singleUser.Balance |number}}</td>
                        <td></td>
                      </tr>
               
                </tbody>
              </table>
            
          
        </div>
      <!-- history log -->
      </div>
      
    </div>

  </div>
</div>
<!-- history Modal end -->