<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Add Account &nbsp;/&nbsp;
            <b>کھاتہ اندراج</b>
        </h2>

        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">

            <!-- number -->
            <div class="form-group row" [ngClass]="{'has-error': (!number.valid && number.touched), 'has-success': (number.valid && number.touched)}">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input [formControl]="number" type="text" class="form-control" placeholder="Enter account number">
                </div>
                <div *ngIf="number.touched && number.hasError('required')" class="help-block sub-little-text">
                    account number is required.
                </div>
            </div>

            <!-- name -->
            <div class="form-group row" [ngClass]="{'has-error': (!name.valid && name.touched), 'has-success': (name.valid && name.touched)}">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input [formControl]="name" type="text" class="form-control" placeholder="Enter account holder name">
                </div>
                <div *ngIf="name.touched && name.hasError('required')" class="help-block sub-little-text">
                    account holder name is required.
                </div>
            </div>


            <!-- mobileNumber -->
            <div class="form-group row" [ngClass]="{'has-error': (!mobileNumber.valid && mobileNumber.touched), 'has-success': (mobileNumber.valid && mobileNumber.touched)}">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-phone"></i>
                    </span>
                    <input [formControl]="mobileNumber" type="text" class="form-control" placeholder="Enter mobile number">
                </div>
                <div *ngIf="mobileNumber.touched && mobileNumber.hasError('required')" class="help-block sub-little-text">
                    mobile number is required.
                </div>
            </div>

            <!--cnic-->
            <div class="form-group row" [ngClass]="{'has-error': (!cnic.valid && cnic.touched), 'has-success': (cnic.valid && cnic.touched)}">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-credit-card"></i>
                    </span>
                    <input [formControl]="cnic" type="text" class="form-control" placeholder="Enter CNIC">
                </div>
                <div *ngIf="cnic.touched && cnic.hasError('required')" class="help-block sub-little-text">
                    CNIC is required.
                </div>
            </div>


            <!--address-->
            <div class="form-group row" [ngClass]="{'has-error': (!address.valid && address.touched), 'has-success': (address.valid && address.touched)}">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-home"></i>
                    </span>
                    <textarea rows="5" cols="40" [formControl]="address" class="form-control" placeholder="Enter address....."></textarea>
                </div>
                <div *ngIf="address.touched && address.hasError('required')" class="help-block sub-little-text">
                    address is required.
                </div>
            </div>
            <!-- address -->
            <div class="form-group">
                <label for="avatar">Image</label>
                <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
            </div>

            <div class="row">
                <button type="submit" class="btn btn-primary pull-right" (click)="form.reset" [disabled]="!form.valid">&nbsp;Add&nbsp;</button>
            </div>
        </form>
    </div>
</div>


<ng-template #alertModel>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Message</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <span class="text-danger">{{message}}</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
    </div>
</ng-template>