<div class="row">

  <div class="col-md-3" style="margin-bottom:10px">
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-search"></i>
      </div>
      <input class="form-control" type="text" name="search" [(ngModel)]="filter">
    </div>

  </div>
  <div class="col-md-1">
    <i style="color:orange" [ngClass]="{'fa fa-refresh fa-spin fa-2x':loading}"></i>
  </div>

</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead style="background: lightblue">
        <tr>
          <th>#</th>
          <th>Recipt Number</th>
          <th>Car Name</th>

          <th>Maker</th>
          <th>Rigistration #</th>

          <th>Purchase Price</th>
          <th>Purchase Date</th>
          <th>Number of Papers</th>
          <th>Token Status</th>
          <th></th>
        </tr>
      </thead>

      <tbody *ngIf="carsList.length>0;else noCar">
        <tr *ngFor="let car of carsList | reverse | filter:filter; let i=index">
          <td>{{i+1}}</td>
          <td>{{car.ReceiptNumber}}</td>
          <td>{{car.Name}}</td>
          <td>{{car.Maker}}</td>
          <td>{{car.RegistrationNumber}}</td>
          <td>{{car.PurchasePrice}}</td>
          <td>{{car.PurchaseDate | date :'dd/MM/yyyy hh:mm:ss a'}}</td>
          <td>{{car.NoOfPapers}}</td>
          <td>{{car.Token}}</td>
          <td>
            <button class="btn btn-warning" data-target="#editCarStock" data-toggle="modal">
              <i class="fa fa-pencil"></i>
            </button>
            <!-- <button class="btn btn-danger">
              <i class="fa fa-trash"></i>
            </button> -->
            <button (click)="setUserInfo(car)" class="btn btn-info" data-toggle="modal" data-target="#userInfo">
              <i class="fa fa-user"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <ng-template #noCar>
    <p style="color:red;text-align: center;font-size: 30px">No car available</p>
  </ng-template>

</div>

<!--edit carstock -->
<div class="modal fade" id="editCarStock" role="dialog">

  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" style="display: inline-block; padding: 0 5px">&times;</button>
        <h4 class="modal-title">
          Edit Car Stock&nbsp;/&nbsp;
          <!-- <b>تفصیل کھاتہ</b> -->
        </h4>
      </div>
      <div class="modal-body">
<app-edit-car></app-edit-car>
      </div>

    </div>

  </div>
</div>
<!-- edit carstock end -->


<!-- Modal -->
<div id="userInfo" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Car Owner Details</h4>

      </div>
      <div class="modal-body">
        <div class="carImage">

          <img src="http://{{gu.ip}}:{{gu.port}}/{{selectedCarOwner.Image1}}" alt="">
          <hr>
        </div>
        <table class="table">
          <tr *ngIf="selectedCarAccounts.length==1">

            <th>Owner 1 Name:</th>
            <td>{{selectedCarAccounts[0].Name}}</td>
            <td><img src="http://{{gu.ip}}:{{gu.port}}/{{selectedCarAccounts[0].Image}}" alt="" width="60" height="70"></td>
          </tr>
          <!-- <tr *ngIf="selectedCarOwner[0]">
            <th>Contact:</th>
            <td>{{selectedCarOwner[0].MobileNumber}}</td>
          </tr>
          <tr *ngIf="selectedCarOwner[0]">
            <th>CNIC:</th>
            <td>{{selectedCarOwner[0].CNIC}}</td>
          </tr> -->
          <hr>

          <tr *ngIf="selectedCarAccounts.length>1">

            <th>Owner Name:</th>
            <td>{{selectedCarAccounts[1].Name}}</td>
            <td><img src="http://{{gu.ip}}:{{gu.port}}/{{selectedCarOwner[1].Image}}" alt="" width="60" height="70"></td>

          </tr>
          <!-- <tr *ngIf="selectedCarOwner[1]">
            <th>Contact:</th>
            <td>{{selectedCarOwner[1].MobileNumber}}</td>
          </tr>
          <tr *ngIf="selectedCarOwner[1]">
            <th>CNIC:</th>
            <td>{{selectedCarOwner[1].CNIC}}</td>
          </tr> -->
        </table>
      </div>

    </div>

  </div>
</div>