<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <h3>Car Sale &nbsp; /&nbsp; کار فروخت</h3>

    </div>
    <div class="col-md-3 col-md-offset-6 mt-15">
      <button routerLink="add" *ngIf="router.url=='/dashboard/car-sale' || router.url=='/dashboard/car-sale/list'" class="btn btn-primary pull-right"
        style="font-size:15px">
        <i class="fa fa-car"></i> Add new sale</button>
      <button routerLink="list" *ngIf="router.url=='/dashboard/car-sale/add'" class="btn btn-primary pull-right" style="font-size:15px">
        <i class="fa fa-car"></i>Show All sale</button>
    </div>


  </div>
  <hr>

  <router-outlet></router-outlet>

</div>