/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
.alertMessage{
    padding-left: 15px;
}
.carImage img{
    width:540px;
    max-width: 540px ;
    height: 300px;
}

.mt-15{
    margin-top: 15px;
}