<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="color:cadetblue;font-weight:bold">Hussain Motors</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="accounts" style="font-size:20px;text-align:center">Accounts <br> <b>کھاتہ</b></a></li>
        <li><a routerLink="addAccount" style="font-size:20px;text-align:center">Add Account <br> <b>کھاتہ اندراج</b></a></li>
        <li><a routerLink="roznamcha" style="font-size:20px;text-align:center">Daily Diary <br> <b>روز نامچہ</b></a></li>
        <li><a routerLink="carStock" style="font-size:20px;text-align:center"> Car Stock <br><b> کار سٹاک</b></a></li>
        <li><a routerLink="purchase" style="font-size:20px;text-align:center">Car Deal <br><b> کار فروخت</b>/<b> کار
              خرید</b></a></li>

        <!-- <li><a routerLink="purchase" style="font-size:20px;text-align:center">Car Purchase <br><b> کار خرید</b></a></li> -->
        <!-- <li><a routerLink="udhar" style="font-size:20px;text-align:center">Loan Register <br><b> ادھار رجسٹر</b></a></li> -->
        <!-- <li><a routerLink="carSale" style="font-size:20px;text-align:center"> Car Sale <br><b> کار فروخت</b></a></li> -->
        <!-- <li><a routerLink="carExchange" style="font-size:20px;text-align:center"> Exchange Recipt <br><b> تبادلۃ رسید</b></a></li> -->


      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="logout()" style="font-size:20px;text-align:center" title="Logout" style="cursor:pointer"> <i
              class="fa fa-sign-out fa-2x"></i>
          </a></li>
      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>